.principal{
    margin-top: 5em;
    padding-bottom: 1em;
}

body{
    background-color: #F2F2F2;
}

.card {
    margin-bottom: 1em;
}

.img-aling-center{
    padding-left: 20em;
    padding-top: 5em;
    
}
.img-logo-frond{
    height: 86% !important;
    width: 55% !important;
}